body{
    background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-color: hsl(185, 75%, 39%);
    background-position: top 201% right 162%, bottom 244% left 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 375px) {
      body{
        background-position: top 200% right -20%, bottom 200% left -20%;
      }  
}

.main{
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    
}

.main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 375px;
    width: 350px;
    background-color: white;
    border-radius: 25px;
}

.container .perfil{
    display: flex;
    height: 80%;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/bg-pattern-card.svg) no-repeat top;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.perfil img{
    border: white 5px solid;
    border-radius: 70px;
    margin-top: 70px;
}

.perfil h1{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.perfil span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.perfil p{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

hr{
    width: 100%;
}

.about{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.about .follow,.likes,.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about span{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.about p{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
